## **Time Series Regression Analysis**

### **Business Understanding**

##### **Problem Statement**:

The growing need for competitive markets demands efficient use of data for informed decision-making and forecasting. Corporation Favorita, a grocery retailer in Ecuador, seeks to optimize its business strategies by utilizing time series regression analysis. The objective of this project is to develop a robust predictive model that accurately forecasts unit sales based on historical data, including factors such as promotions and other variables. Through understanding temporal patterns and relationships between variables, the goal is to enhance the accuracy of sales predictions and provide actionable insights for strategic decision-making.

##### **Goals and Objectives**:

1. Develop and build time series regression models including SARIMA, ARIMA, XGBoost, and Linear Regression to accurately forecast unit sales and capture sales data seasonality and trends.

2. Evaluate the model's performance using appropriate evaluation metrics such as mean squared error, mean absolute error, and R-squared.

3. Provide actionable insights for strategic decision-making, such as identifying promotions or offering targeted marketing strategies.
Build time series regression models like SARIMA, ARIMA, XGBoost, and Linear Regression to capture sales data seasonality and trends.

##### **Stakeholders**
•	Favorita Company Executives and Management

•	Data Science and Analytics Team

•	Store customer service and management teams

•	Marketing and Sales and Advertisement Teams:

•	Finance

**Success Criteria**
- Achieve a 0.2 RMSE (Root Mean Squared Error) in sales forecasting models.
- Improve inventory management efficiency and reduce stockout instances.


**Data Requirements**
- Utilize data from train.csv, stores.csv, holidays_events.csv, oil.csv, and transaction.csv for analysis.
- Include features such as store_nbr, family, onpromotion, store metadata, oil prices, holidays, and transactional data.

**Business Impact**
- Enhance customer satisfaction through better product availability.
- Optimize inventory management, leading to cost savings and improved operational efficiency.

##### **Hypothesis** 
Null Hypothesis (Ho): Holidays do not significantly affect sales at Corporation Favorita's grocery stores.

Alternative Hypothesis (Ha): Holidays have a significant impact on sales at Corporation Favorita's grocery stores.

##### **Analytical Questions**
1. Is the train dataset complete (has all the required dates)?

2. Which dates have the lowest and highest sales for each year (excluding days the store was closed)?

3. Compare the sales for each month across the years and determine which month of which year had the highest sales.

4. Did the earthquake impact sales?

5. Are certain stores or groups of stores selling more products? (Cluster, city, state, type)

6. Are sales affected by promotions, oil prices and holidays?

7. What analysis can we get from the date and its extractable features?

8. Which product family and stores did the promotions affect.

9. What is the difference between RMSLE, RMSE, MSE (or why is the MAE greater than all of them?)

10. Does the payment of wages in the public sector on the 15th and last days of the month influence the store sales.

##### **Scope and Constraint**:
- Assumption: Historical sales data is representative of future demand patterns.
- Constraint: Limited availability of real-time sales data for model training.


#### Additional Information

This project is to be completed in 4 weeks

### **Data Understanding**

In [5]:
# **Importation of libraries**
 #Data manipulation and analysis
import pandas as pd
import numpy as np
 
# Database connectivity
import pyodbc
 
# Database ORM (optional)
from sqlalchemy import create_engine
 
# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
 

# Machine learning 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder 
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

#### **Database connectivity**

In [10]:
#Connecting to the first databases

# Define the connection string
server = 'dap-projects-database.database.windows.net'
database = 'dapDB'
username = 'learning_project_3'
password = 'A$uB1Lp3$2@24'
conn_str = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

# Connect to the database
conn = pyodbc.connect(conn_str)
print("Connection successful")

# Queries to retrieve data from the three tables
query_oil = 'SELECT * FROM dbo.oil'
query_holidays_events = 'SELECT * FROM dbo.holidays_events'
query_stores = 'SELECT * FROM dbo.stores'

# Execute the queries and fetch the data into pandas DataFrames
df_oil = pd.read_sql(query_oil, conn)
df_holidays_events = pd.read_sql(query_holidays_events, conn)
df_stores = pd.read_sql(query_stores, conn)

# Close the connection
conn.close()

# Display the first few rows of each DataFrame
print("Oil Data:")
print(df_oil.head())

print("\nHolidays Events Data:")
print(df_holidays_events.head())

print("\nStores Data:")
print(df_stores.head())

Connection successful

C:\Users\USER\AppData\Local\Temp\ipykernel_10840\1327232234.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_oil = pd.read_sql(query_oil, conn)
C:\Users\USER\AppData\Local\Temp\ipykernel_10840\1327232234.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_holidays_events = pd.read_sql(query_holidays_events, conn)
C:\Users\USER\AppData\Local\Temp\ipykernel_10840\1327232234.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_stores = pd.read_sql(query_stores, conn)

Oil Data:
         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02   93.139999
2  2013-01-03   92.970001
3  2013-01-04   93.120003
4  2013-01-07   93.199997

Holidays Events Data:
         date     type    locale locale_name                    description  \
0  2012-03-02  Holiday     Local       Manta             Fundacion de Manta
1  2012-04-01  Holiday  Regional    Cotopaxi  Provincializacion de Cotopaxi
2  2012-04-12  Holiday     Local      Cuenca            Fundacion de Cuenca
3  2012-04-14  Holiday     Local    Libertad      Cantonizacion de Libertad
4  2012-04-21  Holiday     Local    Riobamba      Cantonizacion de Riobamba

   transferred
0        False
1        False
2        False
3        False
4        False

Stores Data:
   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [13]:
# Connecting to the test database

# File path of the CSV file
file_path = r"C:\Users\USER\Desktop\test.csv"

# Load CSV file into a DataFrame
Test_data = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(Test_data.head())

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0

In [14]:
#connecting to sample submission database

import pandas as pd

# File path of the CSV file
file_path = r"C:\Users\USER\Desktop\sample_submission.csv"

# Load CSV file into a DataFrame
sample_submission_data = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(sample_submission_data.head())

        id  sales
0  3000888    0.0
1  3000889    0.0
2  3000890    0.0
3  3000891    0.0
4  3000892    0.0

#### **Exploratory Data Analysis (EDA)**

- Data Quality Assement ,EDA & Data Cleaning

In [15]:
#checking basic info for df_oil data 

df_oil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   object
 1   dcoilwtico  1175 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.2+ KB

In [16]:
#checking basic info for df_holidays_events data

df_holidays_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), object(5)
memory usage: 14.1+ KB

In [17]:
#checking basic info for df_stores data

df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   store_nbr  54 non-null     int64
 1   city       54 non-null     object
 2   state      54 non-null     object
 3   type       54 non-null     object
 4   cluster    54 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.2+ KB

#### Key Insights from column

Oil Data
1. df_oil has 19691 rows and 2 columns, with no missing values. The 'Date' column is in 'object' format, which needs to be converted to 'datetime'.
2. Daily oil prices (dcoilwtico) are recorded over time.

Data Type Changes Needed:

1. The date column must be converted to a datetime format for easier time series analysis.
2. Ensure dcoilwtico is in a numerical format (float) for numerical operations.

Holidays Events Data

1. df_holidays_events has 1115 rows and 11 columns, with no missing values. The 'date' column is in 'object' format, which needs to be converted to 'datetime'. The 'type' column has 10 unique categories.
2. Records various types of holidays and events across different locales.
3. Observing if a holiday was transferred to another date (transferred column).


- Convert date to datetime format for consistency.

- Team must ensure type, locale, locale_name, description are categorical variables or strings.

- Check for null values in city, state, type, and cluster columns, though this typically depends on data quality.
Data Type Changes Needed:

- Convert store_nbr and cluster to categorical variables if they represent categories rather than numerical values.

- Ensure city, state, type are categorical variables or strings.

In [18]:
#concatenate df_oil, df_holidays_events, and df_stores into one DataFrame

combined_data = pd.concat([df_oil, df_holidays_events, df_stores], axis=0)

#show the first few rows of the combined DataFrame

combined_data.head()

,date,dcoilwtico,type,locale,locale_name,description,transferred,store_nbr,city,state,cluster
0,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-01-02,93.139999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-01-03,92.970001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-01-04,93.120003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-01-07,93.199997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#check basic info for combined_data data

combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1622 entries, 0 to 53
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1568 non-null   object
 1   dcoilwtico   1175 non-null   float64
 2   type         404 non-null    object
 3   locale       350 non-null    object
 4   locale_name  350 non-null    object
 5   description  350 non-null    object
 6   transferred  350 non-null    object
 7   store_nbr    54 non-null     float64
 8   city         54 non-null     object
 9   state        54 non-null     object
 10  cluster      54 non-null     float64
dtypes: float64(3), object(8)
memory usage: 152.1+ KB

In [20]:
#Checking for missing values

combined_data.isnull().sum()

date             54
dcoilwtico      447
type           1218
locale         1272
locale_name    1272
description    1272
transferred    1272
store_nbr      1568
city           1568
state          1568
cluster        1568
dtype: int64

In [21]:
# Identifying the number of unique stores

len(combined_data['store_nbr'].unique())

55

In [22]:
#describe the categorical variables in combined_data

combined_data.describe(include='object')

,date,type,locale,locale_name,description,transferred,city,state
count,1568,404,350,350,350,350,54,54
unique,1346,11,3,24,103,2,22,16
top,2014-06-25,Holiday,National,Ecuador,Carnaval,False,Quito,Pichincha
freq,5,221,174,174,10,338,18,19

In [24]:
#describe the numerical variables in combined_data

combined_data.describe().T

,count,mean,std,min,25%,50%,75%,max
dcoilwtico,1175.0,67.714366,25.630476,26.190001,46.405001,53.189999,95.66,110.620003
store_nbr,54.0,27.500000,15.732133,1.000000,14.250000,27.500000,40.75,54.000000
cluster,54.0,8.481481,4.693395,1.000000,4.000000,8.500000,13.00,17.000000

In [26]:
#check for unique values in combined_data

combined_data.nunique()

date           1346
dcoilwtico      998
type             11
locale            3
locale_name      24
description     103
transferred       2
store_nbr        54
city             22
state            16
cluster          17
dtype: int64